.skills_modal
  .close-animatedModal
  .skills_modal-cont
    .skills_modal-item_wrapper
      +skills_modal-item("images/skills_bootstrap.svg","Bootstrap")(class="skills_modal-item_bootstrap")
      +skills_modal-item("images/skills_docker.svg","Docker")(class="skills_modal-item_docker")
      +skills_modal-item("images/skills_git.svg","Git")(class="skills_modal-item_git")
      +skills_modal-item("images/skills_nodejs.svg","Node.js")(class="skills_modal-item_node")
      +skills_modal-item("images/skills_salesforce.svg","Salesforce")(class="skills_modal-item_salesforce")
    .skills_modal-item_wrapper
      +skills_modal-item("images/skills_microcms.svg","microCMS")(class="skills_modal-item_microcms")
      +skills_modal-item("images/skills_wordpress.svg","Wordpress")(class="skills_modal-item_wordpress")
      +skills_modal-item("images/skills_sitecore.svg","Sitecore")(class="skills_modal-item_sitecore")
      +skills_modal-item("images/skills_redmine.png","Redmine")(class="skills_modal-item_redmine")
      +skills_modal-item("images/skills_trello.svg","Trello")(class="skills_modal-item_trello")
    .skills_modal-item_wrapper
      +skills_modal-item("images/skills_electron.png","Electron")(class="skills_modal-item_electron")
      +skills_modal-item("images/skills_adobe.png","photoshop&Illustrator")(class="skills_modal-item_adobe")
      +skills_modal-item("images/skills_php.png","PHP")(class="skills_modal-item_php")
      +skills_modal-item("images/skills_python.png","Python")(class="skills_modal-item_python")
      +skills_modal-item("images/skills_office.png","Office")(class="skills_modal-item_office")
