#modalCont2.works-modal
  #modalClose2.works-modal__close-outer
    .close-works-modal.works-modal__close
  .works-modal__img
    a.works-modal__img-link(href="javascript: void(0);" target="_blank"): img(src="" alt="")
  .works-modal__summary
    .works-modal__head-outer
      .works-modal__head
    .works-modal__link
      .works-modal__link-left ■Link：
      .works-modal__link-right
        a.works-modal__link-href(href="" target="_blank")
    +works_modal("■制作期間：","works-modal__time")
    +works_modal("■使用言語・ツール：","works-modal__skills")
    +works_modal("■概要：","works-modal__description")