section.about
  .about__cont
    .about__cont-left
      .about__cont__bg-txt
        span.about__cont__bg-txt__design DESIGN
        span.about__cont__bg-txt__web WEB
      .about__cont__txt-wrapper
        .about__cont__txt.head
          | きっかけはモノづくり
          br
          | より多くの人にモノを届けたい
        .about__cont__txt
          | 都内でフロントエンジニアをやらせていただいてる島崎宥玖と申します。
          | 幼いときから何かしらモノを作るのが好きで、将来は自分が作ったモノをより多くの人に利用して貰うのが夢でした。
          | より多くのモノを提供できる媒体としてWEB業界が最適だと思い、参入いたしました。
          | WEBサイト制作やWEBアプリケーション開発をメインに、既存システムのCMS化、SEO対策、マーケ等の業務を担当して参りました。
          | 将来的にはフルスタックエンジニアを目指していて、既知のスキルだけはなく新技術に関心を向け常にスキルアップを図ることを意識しております。
    .about__cont-right
      img(src="images/about_mono.png")
      img(src="images/about_color.png" class="about__cont-right__color")