section.skills
  .skills__cont
    .skills__cont-inner
      .skills__cont-flex
        +skills_item("95","images/skills_html.svg",skills_html)(class="-html")
        +skills_item("80","images/skills_pug.svg",skills_pug)(class="-pug")
      .skills__cont-flex
        +skills_item("95","images/skills_css.svg",skills_css)(class="-css")
        +skills_item("85","images/skills_sass.svg",skills_sass)(class="-sass")
      .skills__cont-flex
        +skills_item("75","images/skills_javascript.svg",skills_javascript)(class="-javascript")
        +skills_item("85","images/skills_jquery.svg",skills_jquery)(class="-jquery")
      .skills__cont-flex
        +skills_item("55","images/skills_vue.svg",skills_vue)(class="-vue")
        +skills_item("40","images/skills_nuxt.svg",skills_nuxt)(class="-nuxt")
      .skills__cont__more-outer
        .skills__cont__more
          .skills__cont__more__line
          .skills__cont__more__txt
            a(href="#animatedModal" id="skills_modal-trigger") and more...  