section.works
  .works__cont
    .works__cont__circle Website
    .works__cont__tab
      #website_tab.works__cont__tab__item.current Website
      #banner_tab.works__cont__tab__item Banner
      #logo_tab.works__cont__tab__item Logo
      #lp_tab.works__cont__tab__item LP
    #website
      ul.flip-items
    #banner
      ul.flip-items
    #logo
      ul.flip-items
    #lp
      ul.flip-items