-var sitelogo = "サイトロゴ"
-var my_profile = "My Photo"

//- skills
-var skills_html = "HTML"
-var skills_pug = "Pug"
-var skills_css = "CSS"
-var skills_sass = "Sass"
-var skills_javascript = "Javascript"
-var skills_jquery = "jQuery"
-var skills_vue = "Vue"
-var skills_nuxt = "Nuxt"